<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Simple Slider
  body
      div.slider
        div.slider__controls
          div.slider__arrow-left.slider__arrow
            span
          div.slider__arrow-right.slider__arrow
            span
        div.slider__slides
          div.slider__slide
            img(src="./assets/sample_1.png")
          div.slider__slide
            img(src="./assets/sample_2.png")
          div.slider__slide
            img(src="./assets/sample_3.png")
          div.slider__slide
            img(src="./assets/sample_4.png")
